html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background: none;
}
.header-section {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.header-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: -1;
}

.main-menu {
    position: relative;
    padding-top: 55px;
}

.main-menu .logo {
    position: absolute;
    top: 10px;
}

.main-menu .logo a {
    display: block;
    width: 85px;
    height: 85px;
}

.main-menu ul {
    list-style: none;
    text-align: right;
    margin-left: 200px;
}

.main-menu ul li {
    float: none;
    display: inline-block;
    padding: 4px;
}

.main-menu ul li a {
    color: rgb(179, 248, 245);
    display: block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-menu ul li:nth-child(1) {
    float: none;
    margin-right: 10px;
    padding: 4px;
}

.main-menu ul li:nth-child(2) {
    float: none;
    margin-right: 10px;
    padding: 4px;
}

.main-menu ul li:nth-child(3) {
    float: none;
    margin-right: 10px;
    padding: 4px;
}

.main-menu ul li:nth-child(4) {	
    float: none;
    padding: 4px;
}

.main-menu ul .search-btn {
    color: #fff;
    cursor: pointer;
    margin-left: 152px;
}

.slicknav_menu {
    display: none;
}

#head-logo {
    height: 90px;
    width: 90px;
    max-width: none;
}

#article-wrapper {
    text-align: center;
    position: absolute;
    margin-top: 150px;
    align-content: center;
}

.article-ind {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#bodyinput {
    width: 200px;
    height: 150px;
    border-style: solid;
    background-color: lightcyan;
}
#titleinput {
    width: 200px;
    height: 150px;
    border-style: solid;
    background-color: lightcyan;
}